/* Pequenas telas (celulares) */
@media screen and (max-width: 768px) {

    /* Header */
    .nav-bar {
      flex-direction: column;
      align-items: center;
    }
  
    .logo {
      margin-bottom: 1rem;
    }
  
    .search-bar,
    .shoppingcart,
    .login-button,
    .mobile-menu-icon {
      display: none;
    }
  
    .mobile-menu {
      display: flex;
      flex-direction: column;
      width: 100%;
      background-color: rgb(69, 11, 98);
      position: fixed;
      top: 0;
      left: 0;
      height: 100vh;
      padding: 2rem;
      z-index: 1;
      transform: translateX(-100%);
      transition: transform 0.3s ease-in-out;
    }
  
    .mobile-menu.show {
      transform: translateX(0);
    }
  
    .nav-item {
      margin-bottom: 1rem;
    }
  
    .nav-link {
      color: #fff;
      font-size: 1.2rem;
    }
  
    /* Section 1 */
    .container_consoles {
      display: flex;
      flex-direction: column;
    }
  
    select {
      width: 100%;
      margin-bottom: 1rem;
      padding: 0.5rem;
    }
  
    /* Section 2 */
    .slider {
      overflow: hidden;
    }
  
    .slides {
      display: flex;
    }
  
    .slide {
      flex: 1;
      width: 100%;
    }
  
    .manual-navigation {
      display: none;
    }
  
    /* Section 3 */
    .games_link {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  
    .link-game {
      margin-bottom: 1rem;
    }
  
    /* Jogos */
    .slider-games-ps,
    .slider-games-xbox,
    .slider-games-nintendo {
      display: flex;
      overflow-x: scroll;
      scroll-snap-type: x mandatory;
    }
  
    .product-ps,
    .product-xbox,
    .product-nintendo  {
      scroll-snap-align: start;
      flex-shrink: 0;
      width: 100%;
      margin-right: 1rem;
    }
  
    .product-ps:last-child,
    .product-xbox:last-child,
    .product-nintendo:last-child  {
      margin-right: 0;
    }
  
    .arrow {
      display: none;
    }
  
    /* Footer */
    .contact-methods {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
  
    .social-links,
    .localization {
      margin-top: 1rem;
    }
  }